:root {
  --background: hsl(235, 46%, 20%);
  --font-color: white;
}

.icon {
  position: absolute;
  right: 20px;
}

.card {
  width: 256px;
  height: 242px;
  background-color: hsl(15, 100%, 70%);
  border-radius: 20px;
  position: relative;
  margin-top: 0;
}

.stats {
  width: 256px;
  height: 200px;
  border-radius: 20px;
  background-color: var(--background);
  position: absolute;
  bottom: 0;
}

h1 {
  font-family: "Rubik";
  font-weight: 300;
  color: var(--font-color);
  text-align: left;
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 600;
  color: var(--font-color);
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 300;
  color: var(--font-color);
  text-align: left;
  padding-left: 20px;
  margin-top: 10px;
}

.more-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Rubik";
  font-size: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.card.play {
  background-color: hsl(195, 74%, 62%);
}

.card.self-care {
  background-color: hsl(43, 84%, 65%);
}

.card.social {
  background-color: hsl(264, 64%, 52%);
}

.card.study {
  background-color: hsl(348, 100%, 68%);
}

.card.word {
  background-color: hsl(15, 100%, 70%);
}

.card.exercise {
  background-color: hsl(145, 58%, 55%);
}
