.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(226, 43%, 10%);
  margin: 0 auto;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.log {
  flex-basis: calc(50% - 10px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
